@page
@model CMOC.Pages.Admin.Services.Upsert

<form method="post" enctype="multipart/form-data">
    <input asp-for="Service.Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <div class="col-9">
                <h2 class="text-primary pl-3">
                    @(Model.Service.Id == 0 ? "Create" : "Update") Service
                </h2>
                <hr/>

                <div class="mb-3">
                    <input type="text" asp-for="@Model.Service.Name" class="form-control"/>
                    <label asp-for="Service.Name"></label>
                    <span asp-validation-for="Service.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <span>Capabilities Supported:</span>
                    <ul>
                        @for (var i = 0; i < Model.SupportedCapabilities.Count; i++)
                        {
                            <li class="form-check form-switch">
                                <input type="hidden" asp-for="SupportedCapabilities[i].Value"/>
                                <input class="form-check-input" type="checkbox" role="switch" id="capability_@i" asp-for="SupportedCapabilities[i].Checked"/>
                                <label class="form-check-label" for="capability_@i">@Model.SupportedCapabilities[i].Text</label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row pb-2">
            @if (Model.Service.Id == 0)
            {
                <button type="submit" class="btn btn-primary" style="width: 150px;">Create</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" style="width: 150px;">Update</button>
            }
            <a asp-page="/Admin/Services/Index" class="btn btn-secondary m-1" style="width: 150px;">Back to List</a>
        </div>
    </div>
</form>