@page
@model CMOC.Pages.Admin.Capabilities.Index

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Capabilities</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="/Admin/Capabilities/Upsert" class="btn btn-primary">
                <i class="bi bi-plus-square"></i>&nbsp;Create New Capability
            </a>
        </div>
    </div>
    
    <table class="table table-bordered table-striped" id="DT_load" style="width: 100%">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
        </thead>
        
    </table>
</div>

@section Scripts
{
    <script src="~/js/Capability.js"></script>
}