@page
@using CMOC.Services
@model CMOC.Pages.Status.Capabilities.Index

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var capability in Model.Capabilities)
    {
        <div class="col">
            @{
                var cardStyle = capability.Status switch
                {
                    ObjectStatus.FullyCapable => "card h-100 text-bg-success",
                    ObjectStatus.PartiallyCapable => "card h-100 text-bg-warning",
                    ObjectStatus.NonCapable => "card h-100 text-bg-danger",
                    _ => "card h-100 text-bg-danger"
                };

            }
            <div class="@cardStyle">
                <div class="card-body">
                    <h5 class="card-title">
                        @switch (capability.Status)
                        {
                            case ObjectStatus.FullyCapable:
                                <i class="bi bi-shield-fill-check"></i>
                                break;
                            case ObjectStatus.PartiallyCapable:
                                <i class="bi bi-shield-fill-exclamation"></i>
                                break;
                            case ObjectStatus.NonCapable:
                                <i class="bi bi-shield-fill-x"></i>
                                break;
                        }
                        &nbsp;@capability.Name
                    </h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 minutes ago</small>
                </div>
            </div>
        </div>
    }
</div>