@page
@using CMOC.Services
@model CMOC.Pages.Status.Equipment.Index

<div class="border p-3 mt-4">
    <div class="row">
        <div class="col-12">
            @if (Model.ServiceName is not null)
            {
                <h2>Services Supporting @Model.ServiceName</h2>
            }
            else
            {
                <h2>All Services</h2>
            }
        </div>
    </div>
    <hr/>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var equipment in Model.Equipment)
        {
            <div class="col">
                @{
                    var cardStyle = equipment.Status switch
                    {
                        ObjectStatus.FullyCapable => "card h-100 text-bg-success",
                        ObjectStatus.PartiallyCapable => "card h-100 text-bg-warning",
                        ObjectStatus.NonCapable => "card h-100 text-bg-danger",
                        _ => "card h-100 text-bg-danger"
                        };

                }
                <div class="@cardStyle">
                    <div class="card-body">
                        <h5 class="card-title">
                            @switch (equipment.Status)
                            {
                                case ObjectStatus.FullyCapable:
                                    <i class="bi bi-shield-fill-check"></i>
                                    break;
                                case ObjectStatus.PartiallyCapable:
                                    <i class="bi bi-shield-fill-exclamation"></i>
                                    break;
                                case ObjectStatus.NonCapable:
                                    <i class="bi bi-shield-fill-x"></i>
                                    break;
                            }
                            &nbsp;@equipment.TypeName (@equipment.SerialNumber)
                        </h5>
                        <p class="card-text">This is some junk text.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 minutes ago</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
